*.compressed*
*tttdecompressed_out*
*upper*
*.npz*
*lower*
*.txt*
*.html*
*.fit*
*.gz*
*pth*
*.npy*
data_configs.py
!hst_results.txt
/pixelcnn/runs/
/data/
/snapshots/
.ipynb_checkpoints/
/astronomical image compression.ipynb
/.idea/
.DS_Store
/.old_data/
testing.py
__pycache__/
slurm_jobs/
*.pyc
/data_raw/
/testing/
/normalizingflows/coder/fast_ans/
/heatmap/
